.main-page {
    display: inline-block;
    position: absolute;
    margin-left: 250px;
    margin-top: 15px;
    /* top: 7%; */
    /* transform: translate(-50%, -50%); */
    background-color: #F1F1F1;
    background-size: cover;
    /* overflow: auto;
    width: auto;
    height: auto; */
}

.new-note-button a {
    color: white;
}

.new-note-button a:hover {
    color: #F1F1F1;
}

.new-note-button {
    border-radius: 15px;
    max-width: 120px;
    height: 35px;
    background-color: #6A9194;
    color: white;
}

.new-note-button:hover {
    background-color: #6A9194;
}

@media screen and (max-width: 768px) {
    .main-page {
        display: block;
        margin-left: 50px;
        margin-top: 80px;
        margin-right: auto;
    }
}