.main-page {
    display: inline-block;
    position: absolute;
    margin-left: 250px;
    margin-top: 15px;
    /* top: 7%; */
    /* transform: translate(-50%, -50%); */
    background-color: #F1F1F1;
    background-size: cover;
    /* overflow: auto;
    width: auto;
    height: auto; */
}

@media screen and (max-width: 768px) {
    .main-page {
        display: block;
        margin-left: 50px;
        margin-top: 80px;
        margin-right: auto;
    }
}