.main-page {
    display: inline-block;
    position: absolute;
    margin-left: 250px;
    margin-top: 15px;
    background-color: #F1F1F1;
    background-size: cover;
}

.folder-page {
    width: 100%;
    height: auto;
}

.new-note-button a {
    color: white;
}

.new-note-button a:hover {
    color: #F1F1F1;
}

.new-note-button {
    border-radius: 15px;
    max-width: 120px;
    height: 35px;
    background-color: #6A9194;
    color: white;
}

.new-note-button:hover {
    background-color: #6A9194;
}

.folder-page {
    margin-left: 0;
    margin-right: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note-container-folder {
    width: 270px;
    position: relative;
    box-sizing: border-box;
    margin-right: 35px;
    margin-bottom: -5px;
    margin-top: 45px;
    min-width: 270px;
    height: 300px;
    box-shadow: 1px 1px 3px 4px #88888802;
}

.folder-page .note-container {
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.folder-page .note-container h4 {
    color: #6A9194;
    margin-top: 0px;
}

.folder-page .note-container h3 {
    color: rgb(116, 73, 33);
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.folder-page .note-container p {
    color: #6A9194;
}

.folder-page .date {
    margin-top: 110px;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.folder-page .content {
    margin-top: 30px;
}

.folder-link {
    color: #6A9194;
    margin-top: -1000px;
}


@media screen and (max-width: 768px) {
    .main-page {
        display: block;
        margin-left: 50px;
        margin-top: 80px;
        margin-right: auto;
    }
}